$default-font: "Roboto", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$main-bg-color: #eff1f2;
$text-color: #333333;
$accent-color: #673ab7;
$completed-color: #4caf50;

$transparent-dark: rgba(49, 53, 63, 0.25);
$semi-transparent-dark: rgba(49, 53, 63, 0.75);
$transparent-white: rgba(255, 255, 255, 0.2);
$semi-transparent-white: rgba(255, 255, 255, 0.75);
$disabled-dark: rgba(49, 53, 63, 0.5);

$bg-color: $main-bg-color;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
