<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="course">
      <span class="course__name">Курс «ВМПС»</span>
      <a href="#">
        <div class="course-item">
          <span class="course-item__name">Тема 1.1</span>
          <p class="course-item__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
            autem libero minima minus placeat qui. Beatae consequatur dolor
            doloremque ducimus et fugiat itaque iusto magnam magni maiores
            minima minus, provident!
          </p>
        </div>
      </a>
      <a href="#">
        <div class="course-item">
          <span class="course-item__name">Тест 1.1</span>
          <p class="course-item__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
            autem libero minima minus placeat qui. Beatae consequatur dolor
            doloremque ducimus et fugiat itaque iusto magnam magni maiores
            minima minus, provident!
          </p>
        </div>
      </a>
    </div>
  </body>
</html>
