<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="nav.css" />
    <title>Sign in</title>
  </head>
  <body>
    <label for="email">
      Электронная почта
      <input
        type="email"
        id="email"
        name="email"
        placeholder="username@gmail.com"
      />
    </label>
    <label for="password">
      Пароль
      <input type="password" id="password" name="password" />
    </label>
    <button type="submit">Войти</button>
    <a href="sign-up.html">нет аккаунта?</a>
  </body>
</html>
