<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="nav.css" />
    <title>Sign up</title>
  </head>
  <body>
    <label for="email">
      Электронная почта
      <input
        type="email"
        id="email"
        name="email"
        placeholder="username@gmail.com"
      />
    </label>
    <label for="first-name">
      Имя
      <input type="text" id="first-name" name="first-name" placeholder="Иван" />
    </label>
    <label for="last-name">
      Фамилия
      <input type="text" id="last-name" name="last-name" placeholder="Иванов" />
    </label>
    <label for="group">
      Группа
      <input type="text" id="group" name="group" placeholder="51392" />
    </label>
    <label for="password1">
      Пароль
      <input type="password" id="password1" name="password1" />
    </label>
    <label for="password2">
      Подтверждение пароля
      <input type="password" id="password2" name="password2" />
    </label>
    <button type="submit">Зарегистрироваться</button>
    <a href="sign-in.html">или войти</a>
  </body>
</html>
