<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="../common.css" />
    <title>Completed test</title>
  </head>
  <body>
    <nav>
      <span class="nav__student-name">Иван Иванов</span>
      <span class="nav__student-group">51392</span>
    </nav>
    <div class="disabled">
      <span class="test__name">Тест «Тест 1.1»</span>
      <div class="question">
        <span class="question__text">Что такое северный мост?</span>
        <label for="question-1-variant-1" class="variant">
          <input
            type="radio"
            name="1"
            id="question-1-variant-1"
            disabled=""
            value="Мост между Россией и Антарктикой"
            checked=""
          />
          Мост между Россией и Антарктикой
        </label>
        <label for="question-1-variant-2" class="variant">
          <input
            type="radio"
            name="1"
            id="question-1-variant-2"
            disabled=""
            value="Важная штуковина в компе"
          />
          Важная штуковина в компе
        </label>
      </div>
      <div class="question">
        <span class="question__text">
          За что отвечает южный мост?
        </span>
        <label for="question-2-variant-1" class="variant">
          <input
            type="checkbox"
            name="2"
            id="question-2-variant-1"
            disabled=""
            value="За соединение России и Крыма"
          />
          За соединение России и Крыма
        </label>
        <label for="question-2-variant-2" class="variant">
          <input
            type="checkbox"
            name="2"
            id="question-2-variant-2"
            disabled=""
            value="За координацию действий твоего компа"
            checked=""
          />
          За координацию действий твоего компа
        </label>
        <label for="question-2-variant-3" class="variant">
          <input
            type="checkbox"
            name="2"
            id="question-2-variant-3"
            disabled=""
            value="За связь процессора и мышки"
            checked=""
          />
          За связь процессора и мышки
        </label>
      </div>
      <div class="question">
        <span class="question__text">Как распечатать что-либо на ПК? </span>
        <label for="question-3-variant-1" class="variant">
          <input
            type="radio"
            name="3"
            id="question-3-variant-1"
            disabled=""
            value="Позвать сисадмина и сказать, что нужно написать текст"
          />
          Позвать сисадмина и сказать, что нужно написать текст</label
        >
        <label for="question-3-variant-2" class="variant">
          <input
            type="radio"
            name="3"
            id="question-3-variant-2"
            disabled=""
            value="Нажать Ctrl+P в ворде"
            checked=""
          />
          Нажать Ctrl+P в ворде</label
        >
      </div>
      <div class="question">
        <span class="question__text">
          Что делать, если увидел синий экран?
        </span>
        <label for="question-4-variant-1" class="variant">
          <input
            type="checkbox"
            name="4"
            id="question-4-variant-1"
            disabled=""
            value="Срочно звать сисадмина"
            checked=""
          />
          Срочно звать сисадмина
        </label>
        <label for="question-4-variant-2" class="variant">
          <input
            type="checkbox"
            name="4"
            id="question-4-variant-2"
            disabled=""
            value="Отойти от компьютера, чтобы не сделать еще хуже"
            checked=""
          />
          Отойти от компьютера, чтобы не сделать еще хуже
        </label>
        <label for="question-4-variant-3" class="variant">
          <input
            type="checkbox"
            name="4"
            id="question-4-variant-3"
            disabled=""
            value="Выключить и включить компьютер, вдруг само исправится"
          />
          Выключить и включить компьютер, вдруг само исправится
        </label>
      </div>
      <span class="test__score">Оценка: 33%</span>
    </div>
  </body>
</html>
