<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="../common.css" />
    <title>Not completed test</title>
  </head>
  <body>
    <nav>
      <span class="nav__student-name">Иван Иванов</span>
      <span class="nav__student-group">51392</span>
    </nav>
    <div class="">
      <span class="test__name">Тест «Тест 1.2»</span>
      <div class="question">
        <span class="question__text">Что такое северный мост? </span>
        <label for="question-1-variant-1" class="variant">
          <input
            type="radio"
            name="1"
            id="question-1-variant-1"
            value="Мост между Россией и Антарктикой"
          />
          Мост между Россией и Антарктикой
        </label>
        <label for="question-1-variant-2" class="variant">
          <input
            type="radio"
            name="1"
            id="question-1-variant-2"
            value="Важная штуковина в компе"
          />
          Важная штуковина в компе
        </label>
      </div>
      <div class="question">
        <span class="question__text">За что отвечает южный мост? </span>
        <label for="question-2-variant-1" class="variant"
          ><input
            type="checkbox"
            name="2"
            id="question-2-variant-1"
            value="За соединение России и Крыма"
          />
          За соединение России и Крыма
        </label>
        <label for="question-2-variant-2" class="variant">
          <input
            type="checkbox"
            name="2"
            id="question-2-variant-2"
            value="За координацию действий твоего компа"
          />
          За координацию действий твоего компа
        </label>
        <label for="question-2-variant-3" class="variant">
          <input
            type="checkbox"
            name="2"
            id="question-2-variant-3"
            value="За связь процессора и мышки"
          />
          За связь процессора и мышки
        </label>
      </div>
      <div class="question">
        <span class="question__text">Как распечатать что-либо на ПК? </span>
        <label for="question-3-variant-1" class="variant"
          ><input
            type="radio"
            name="3"
            id="question-3-variant-1"
            value="Позвать сисадмина и сказать, что нужно написать текст"
          />
          Позвать сисадмина и сказать, что нужно написать текст
        </label>
        <label for="question-3-variant-2" class="variant">
          <input
            type="radio"
            name="3"
            id="question-3-variant-2"
            value="Нажать Ctrl+P в ворде"
          />
          Нажать Ctrl+P в ворде
        </label>
      </div>
      <button type="submit" class="test__submit-button">Проверить</button>
    </div>
  </body>
</html>
