.nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

@media (max-width: $desktop-width - 220px) {
  .nav {
    width: 75%;
  }
}

@media (max-width: $tablet-width + 100px) {
  .nav {
    width: 65%;
  }
}

.nav__dashboard-link {
  @include horizontal-paddings(20px);
  position: relative;
  display: inline-block;
  margin-left: 30px;
  padding-left: 3em;
  line-height: 40px;
  font-size: 0.9em;
  letter-spacing: 0.01em;
  color: $white;
  background-color: $transparent-white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.25s ease-out;
}

@media (max-width: $tablet-width) {
  .nav__dashboard-link {
    @include horizontal-paddings(20px);
    font-size: 0;
    height: 30px;
  }
}

.nav__dashboard-link:hover,
.nav__dashboard-link:focus {
  color: $semi-transparent-white;
  background-color: $transparent-dark;
}

.nav__dashboard-link::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 10px;
  left: 0.8em;
  background-image: url("../img/icon-home.svg");
  width: 20px;
  height: 20px;
}

@media (max-width: $tablet-width) {
  .nav__dashboard-link {
    width: 40px;
    height: 40px;
  }

  .nav__dashboard-link::before {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.nav__student {
  @include list-reset();
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
}

.nav__student::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: -35px;
  background-image: url("../img/icon-user.svg");
}

.nav__student-name {
  font-size: 1.1em;
  margin-right: 30px;
}

.nav__student-group::before {
  content: "Группа: ";
  padding-right: 0.5em;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: $semi-transparent-white;
}

@media (max-width: $tablet-width - 200px) {
  .nav {
    justify-content: flex-end;
    margin-right: 0;
  }

  .nav__student {
    flex-direction: column;
  }

  .nav__student::before {
    top: 10px;
  }

  .nav__student-name {
    font-size: 1.1em;
    margin-right: 10px;
  }
}
